.peculiarities {
  padding: 94px 0;

  .peculiarities__wrapper {
    gap: 30px;
  }

  .peculiarities__item {
    @include mq(desc) {
      width: 270px;
    }
  }

  .peculiarities-item__icon {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    background-color: var(--background-team-color);
    border-radius: 4px;
    height: 120px;
    max-width: 450px;
    margin-bottom: 30px;
    @include mq(desc) {
      width: 270px;
    }
  }

  .peculiarities-item__title {
    @include font(14px, 700, 1.2, 0.03em);
    margin-bottom: 10px;
    @include mq(mob-only) {
      text-align: center;
    }
  }

  .peculiarities-item__text {
    @include font(14px, null, 1.7, 0.03em);
  }
}
